<a href="https://colab.research.google.com/github/bachu2005/MINOR_PROJECT/blob/main/data%20analysis%20task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
!pip install pyspark
from pyspark.sql import SparkSession

# Initialize Spark session
spark = SparkSession.builder \
    .appName("Large Dataset Analysis") \
    .getOrCreate()

# Load a large dataset (assume it's in CSV format)
df = spark.read.csv("/task1.csv", header=True, inferSchema=True)

# Perform a transformation (e.g., group by a column and get averages)
df_grouped = df.groupBy("Calories (kcal)").avg("Water_Intake (ml)")

# Show result
df_grouped.show()
# Initialize Spark session
spark = SparkSession.builder \
    .appName("Large Dataset Analysis") \
    .getOrCreate()

# Load a large dataset (assume it's in CSV format)
df = spark.read.csv("/task1.csv", header=True, inferSchema=True)

# Perform a transformation (e.g., group by a column and get averages)
df_grouped = df.groupBy("Calories (kcal)").avg("Water_Intake (ml)")

# Show result
df_grouped.show()

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.4)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)
+---------------+----------------------+
|Calories (kcal)|avg(Water_Intake (ml))|
+---------------+----------------------+
|            496|     632.1052631578947|
|            148|               584.375|
|            463|     482.6818181818182|
|            471|     614.4166666666666|
|            392|                512.05|
|            243|                 529.3|
|            540|      580.578947368421|
|            516|                592.68|
|            580|    458.94444444444446|
|            251|                 487.2|
|            137|     513.5769230769231|
|            451|                 637.0|
|             85|                461.75|
|            458|     535.7647058823529|
|             65|                 440.0|
|            481|     527.1578947368421|
|            588|    424.70588235294116|
|            255|     518.8076923076923|
|             53|                544.35|
|            296|     584.7826086956521|
+---------------+----------------------+
only showing top 20 rows

+---------------+----------------------+
|Calories (kcal)|avg(Water_Intake (ml))|
+---------------+----------------------+
|            496|     632.1052631578947|
|            148|               584.375|
|            463|     482.6818181818182|
|            471|     614.4166666666666|
|            392|                512.05|
|            243|                 529.3|
|            540|      580.578947368421|
|            516|                592.68|
|            580|    458.94444444444446|
|            251|                 487.2|
|            137|     513.5769230769231|
|            451|                 637.0|
|             85|                461.75|
|            458|     535.7647058823529|
|             65|                 440.0|
|            481|     527.1578947368421|
|            588|    424.70588235294116|
|            255|     518.8076923076923|
|             53|                544.35|
|            296|     584.7826086956521|
+---------------+----------------------+
only showing top 20 rows